.gameOutlineTable :global() {
	width: 100%;
}

.gameOutlineTable :global(tr:nth-child(even)) {
	background: #eee;
}

.gameOutlineTable :global(td) {
	padding: 0.5rem;
	border-bottom: 1px solid #bbb;
}

.gameOutlineModal :global() {
	max-width: 900px;
	width: 100%;
}

.gameOutlineModal :global(table) {
	width: 100%;
}

.gameOutlineModal :global(table.outline-rewards-table > tr > th) {
	vertical-align: top;
	text-align: right;
	padding-top: 1rem;
	padding-right: 1rem;
	width: 4rem;
}

.gameOutlineModal :global(table.outline-rewards-table > tr > td) {
	vertical-align: top;
	padding: 1rem 0;
}
