@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

:root {
	--color-primary: #fac125;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		background-image: url('/images/bg-1.jpg');
		background-size: cover;
		background-repeat: repeat-y;
	}

	h1 {
		@apply text-3xl font-semibold;
	}

	h2 {
		@apply text-2xl font-semibold;
	}

	h3 {
		@apply text-xl font-semibold;
	}

	h4 {
		@apply text-lg font-semibold;
	}

	h5 {
		@apply text-base font-semibold;
	}

	h6 {
		@apply text-sm font-semibold;
	}

	[type='text'],
	[type='email'],
	[type='url'],
	[type='password'],
	[type='number'],
	[type='date'],
	[type='datetime-local'],
	[type='month'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='week'],
	[multiple],
	textarea,
	select {
		background: #dbd1b2;
		padding: 0.5rem 1rem;
		width: 100%;
		outline: none;
		border-width: 0;
		@apply ring-0;
	}

	.form-group .input-static {
		@apply py-2 pl-4 w-full outline-none ring-0;
	}

	.form-group {
	}

	.form-group-transparent [type='text'],
	.form-group-transparent [type='email'],
	.form-group-transparent [type='url'],
	.form-group-transparent [type='password'],
	.form-group-transparent [type='number'],
	.form-group-transparent [type='date'],
	.form-group-transparent [type='datetime-local'],
	.form-group-transparent [type='month'],
	.form-group-transparent [type='search'],
	.form-group-transparent [type='tel'],
	.form-group-transparent [type='time'],
	.form-group-transparent [type='week'],
	.form-group-transparent [multiple],
	.form-group-transparent textarea,
	.form-group-transparent select {
		@apply border-none bg-transparent p-0;
	}

	[type='text'][readonly],
	[type='email'][readonly],
	[type='url'][readonly],
	[type='password'][readonly],
	[type='number'][readonly],
	[type='date'][readonly],
	[type='datetime-local'][readonly],
	[type='month'][readonly],
	[type='search'][readonly],
	[type='tel'][readonly],
	[type='time'][readonly],
	[type='week'][readonly],
	[multiple][readonly],
	textarea[readonly],
	select[readonly] {
	}

	[type='text']:focus,
	[type='email']:focus,
	[type='url']:focus,
	[type='password']:focus,
	[type='number']:focus,
	[type='date']:focus,
	[type='datetime-local']:focus,
	[type='month']:focus,
	[type='search']:focus,
	[type='tel']:focus,
	[type='time']:focus,
	[type='week']:focus,
	[multiple]:focus,
	textarea:focus,
	select:focus {
		outline: none;
		background: #e1d19e;
		@apply ring-0;
	}

	.form-group.has-error label {
		@apply text-red-400;
	}

	.form-group.has-error [type='text'],
	.form-group.has-error [type='email'],
	.form-group.has-error [type='url'],
	.form-group.has-error [type='password'],
	.form-group.has-error [type='number'],
	.form-group.has-error [type='date'],
	.form-group.has-error [type='datetime-local'],
	.form-group.has-error [type='month'],
	.form-group.has-error [type='search'],
	.form-group.has-error [type='tel'],
	.form-group.has-error [type='time'],
	.form-group.has-error [type='week'],
	.form-group.has-error [multiple],
	.form-group.has-error textarea,
	.form-group.has-error select {
		@apply border-red-400;
	}

	button:focus {
		outline: none;
	}

	.button {
		@apply py-2 px-4 rounded-full border border-gray-600 bg-white text-black;
	}

	a.button {
		@apply block text-center;
	}

	a.button {
		@apply no-underline;
	}

	.button-primary {
		@apply bg-primary border-primary text-white;
	}

	.button.button-outline {
		@apply bg-transparent text-gray-600;
	}

	.button.button-outline.button-primary {
		@apply text-primary;
	}

	.button.button-text {
		@apply bg-transparent border-transparent text-gray-600;
	}

	.button:active,
	.button:focus {
		/* @apply ring; */
		outline: 0;
	}

	table.table-default {
		@apply min-w-max w-full table-auto text-center;
	}

	table.table-default thead tr {
		@apply bg-gray-600 text-sm leading-normal;
	}

	table.table-default thead tr th {
		@apply px-6 py-3 text-white;
	}

	table.table-default tbody {
		@apply text-gray-600 text-sm font-light;
	}

	table.table-default tbody tr {
		@apply border-b border-gray-200;
	}

	table.table-default tbody tr:nth-child(odd) {
		@apply bg-white;
	}

	table.table-default tbody tr:nth-child(even) {
		@apply bg-gray-50;
	}

	table.table-default tbody tr td {
		@apply py-3 px-6 whitespace-nowrap;
	}

	table.table-bordered {
		@apply min-w-max w-full table-auto text-center;
	}

	table.table-bordered thead tr {
		@apply bg-gray-200 text-gray-600 text-sm leading-normal;
	}

	table.table-bordered thead tr th {
		@apply px-2;
	}

	table.table-bordered tbody {
		@apply text-gray-600 text-sm font-light;
	}

	table.table-bordered tbody tr:nth-child(odd) {
		@apply bg-gray-300;
	}

	table.table-bordered tbody tr td {
		@apply py-3 px-2 text-center whitespace-nowrap;
	}

	.card {
		@apply bg-white rounded p-4 shadow;
	}
}

.border-medieval {
	border-image: url('/images/border.png') 48;
	border-width: 18px;
	border-image-repeat: repeat;
}

.admin-sidebar {
	background-image: url('/images/admin-sidebar-bg.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

ul li {
	@apply ml-2 my-2;
}

[data-ripplet] {
	@apply cursor-pointer;
}

.text-subtitle {
	@apply text-gray-600;
}

.paragraph-ellipsis-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.parchment {
	border-width: 32px 32px;
	border-image: url('/images/parchment-1.jpg') 50 50 fill round;
	color: #461904;
}

.parchment.parchment-narrowed {
	border-width: 16px 16px;
}

.parchment.framed {
	border-width: 60px 60px;
	border-image: url('/images/parchment-2.jpg') 80 80 fill round;
	box-shadow: 0 10px 2px rgba(0, 0, 0, 0.8);
}

.parchment h1,
.parchment h2,
.parchment h3,
.parchment h4,
.parchment h5,
.parchment h6 {
	/* color: #d65b27; */
}

.table-character-meta {
	width: 100%;
}

.table-character-meta tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.5);
}
