.tooltip :global() {
	display: inline-block;
	position: relative;
}

.tooltip :global(.tooltip-popup) {
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 2px 8px;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;

	top: 100%;
	margin-left: -15px;

	opacity: 0;
	z-index: -1000;
	transition: opacity 0.3s;
}

.tooltip:global(:hover) :global(.tooltip-popup) {
	display: block;
	opacity: 1;
	z-index: 1;
}

.tooltip :global(.tooltip-popup::after) {
	content: ' ';
	position: absolute;
	bottom: 100%; /* At the top of the tooltip */
	left: 10px;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}
