.toolbarUser :global() {
	position: relative;
}

.toolbarUser :global(.toolbar-user-menu) {
	/* display: none; */
	position: absolute;
	@apply p-4 bg-red-400 rounded z-10 top-0;
}

.toolbarUser:hover :global(.toolbar-user-menu) {
	display: block;
}
